<footer>
    <div class="footer-container">
      <div class="image-footer-container">
        <img src="/img/logo.png" alt="Sweet Milk Tea" />
      </div>
      <div class="address-container">
        <img src="/img/mail.png" alt="Mail Icon" class="mail-icon" />
        <span>sweetmilktea@gmail.com</span>
      </div>
    </div>
  </footer>
