body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-baloo-bhai-2: "Baloo Bhai 2";
    --font-paytone-one: "Paytone One";
    --font-baloo: Baloo;
    --font-baloo-thambi-2: "Baloo Thambi 2";
    --font-inter: Inter;
    --font-rubik-bubbles: "Rubik Bubbles";
    --font-bai-jamjuree: "Bai Jamjuree";
  
    /* font sizes */
    --font-size-6xl: 25px;
    --font-size-5xl: 24px;
    --font-size-9xl: 28px;
    --font-size-17xl: 36px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-red: #fe0808;
    --color-tomato: #fa5430;
    --color-gray: #fffefe;
    --color-peachpuff: #f3c8a0;
    --color-indigo: #6316a0;
    --color-orange: #f6a200;
  
    /* Border radiuses */
    --br-31xl: 50px;
    --br-3xs: 10px;
  }
  