<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('partials/header') %> 
    <div class="promotion">
      <div class="column-promotion">
        <img src="/img/promotion.png" alt="Merry Christmas">
        <p>Merry Christmas!</p>
      </div>
      <div class="column-promotion">
        <img src="/img/promotion.png" alt="Merry Christmas">
        <p>Merry Christmas!</p>
      </div>
      <div class="column-promotion">
        <img src="/img/promotion.png" alt="Merry Christmas">
        <p>Merry Christmas!</p>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
